client/node_modules/
server/node_modules/
bot/YoubueTagBot/node_modules/
bot/ImageGifFuriganaKanjiBot/node_modules/
bot/twitFuriganaKanjiBot/node_modules/
bot/lyricsCrawBot/node_modules/
bot/papagoBot/node_modules/
bot/papagoBot/.env
bot/newsBot/node_modules/
bot/newsBot/.env
server/src/config/config.js
bot/blogbot/node_modules/
package-lock.json
node_modules/client
jpnTuto.code-workspace
client/.env
client/config/dev.env.js
client/src/services/Api.js
server/seed/users.json
client/config/index.js
client/build/dev-server.js
client/package-lock.json
server/package-lock.json
bot/YoubueTagBot/config/config.js
bot/lyricsCrawBot/config/config.js
bot/YoubueTagBot/config/config.js
bot/lyricsCrawBot/config/config.js
client/Dockerfile_back
client/Dockerfile_nginxTest
client/package-lock.json
client/config/dev.env.js
client/config/index.js
client/src/components/Article/List/Index.vue
server/package-lock.json
server/seed/users.json
bot/twitFuriganaKanjiBot/config/config.js
bot/twitFuriganaKanjiBot/config/config.js
.DS_Store

server/.env
bot/YoubueTagBot/.env

