client/node_modules/
server/node_modules/

server/src/config/config.js
client/src/services/Api.js

package-lock.json
node_modules/client
jpnTuto.code-workspace
client/.env
client/config/dev.env.js
client/src/services/Api.js
server/seed/users.json
client/config/index.js
client/build/dev-server.js
client/package-lock.json
server/package-lock.json
bot/YoubueTagBot/config/config.js
bot/lyricsCrawBot/config/config.js
client/src/App.vue
bot/YoubueTagBot/config/config.js
bot/lyricsCrawBot/config/config.js
client/Dockerfile_back
client/Dockerfile_nginxTest
client/package-lock.json
client/config/dev.env.js
client/config/index.js
client/src/components/Article/List/Index.vue
server/package-lock.json
server/seed/users.json
bot/twitFuriganaKanjiBot/config/config.js
bot/twitFuriganaKanjiBot/config/config.js
